


.App-link {
  color: #09d3ac;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.line {width:100%;border-top: 3px solid #c05b4d;}
.header {width:800px;margin:0 auto;padding: 20px 20px;height: 80px;}
.header-left{float:left;display:block;}
.header-right{float:right;padding: 30px;font-size: 18px;}
.header-right a{text-decoration: none;color:inherit;}


.tit{width:800px;margin: 0 auto;margin-bottom: 20px;padding:1.5em 0;font-family: Arial;line-height: 1.5;height: 50px;}
.tit-header{display:block;float:left;width:150px;height:80px;}
.tit-header h1{font-size: 30px;font-weight: normal;margin: 0;position: relative;width: 160px;}
.tit-header h1::after{content: '';height: 2px;background: #c05b4d;position: absolute;top: 100%;left: 50%;right:50%;transition: all .6s;}
.tit-header h1:hover::after{left: 0%;right: 0%;color:#34495e;}
.tit-header ul{padding:0;}
.tit-header ul li{list-style:none;}
.tit-header ul li a{ text-decoration: none;color: #34495e;}

.content{width:800px;margin: 0 auto;margin-bottom: 20px;padding:1.5em 0;font-family: Arial;line-height: 1.5;}
.content-header{display:block;float:left;}
.content-header h1{font-size: 30px;font-weight: normal;margin: 0;position: relative;color: #34495e;}
.content-header h1::after{content: '';height: 2px;background: #c05b4d;position: absolute;top: 100%;left: 50%;right:50%;transition: all .6s;}
.content-header h1:hover::after{left: 0%;right: 0%;}
.content-header span{font-size:14px;font-weight: initial;color: #8a8a8a;display: inline-block;    float: left;}
.content-header a{text-decoration:none;color:#34495e;}
.content-tag{position: absolute; width: 200px;margin: 94px 0 0 850px;border-radius: 5px;background: rgba(248, 245, 236, 0.6);box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);cursor: move;}
.content-tag h2{padding:0 20px;}
.content-tag li{padding:5 20px;list-style: none;}
.content-tag li i{width:4px; height:4px; vertical-align: top; margin: 10px 10px 0 0; overflow: hidden; background:#34495e; display:inline-block;}
.content-article {display:inline-block;margin-bottom: 50px;text-align: left;}
.content-article h2{font-size: 1.3em;font-weight: inherit;}
.content-article p{display:inline-block;width: 800px;margin: 10px 0;}
.content-article a{color:#c05b4d;text-decoration: none;}
.content-article figure{margin:1em 0;border-radius:5px;display:block;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.125);position:relative;background:#f8f5ec;font-family: Menlo;}
.content-article th{width:10px;color: #cacaca;height: 10px;padding: 10px 7px 10px;font-size: 13px;font-weight: normal;}
.content-article td{margin:0;width:100%;border-collapse: collapse;padding: 10px 10px 10px;font-size: 13px;}
.content-article td span{color:#2aa198;}
.content-article table::before{position:absolute;top:0;right:0;left:0;padding:2px 7px;font-size:13px;font-weight:bold;color:#b1b1b1;background:#f4efe1;content:'Bash';}
.div-table{  white-space:nowrap }
.figure-style{overflow:auto;width:800px}
.tit01{padding: 0;list-style: none;}
