.author{width: 800px;margin:0 auto;padding:50px 0; }
.author ul{width:800px;overflow: hidden; list-style-type :none;margin: 0 auto;padding: 0;}
.author li {float:left;position:relative;padding-top: 48px;width:33%;}
.author li a{text-decoration:none;color：black;}
.author p{width: 280px;color:#8a8a8a;text-align: center;margin: 0 auto;font-family: Microsoft Yahei;}
.author span{color:#c05b4d}

 